build
dist / media
node_modules
.DS_Store
.env
.next
.vercel

# Payload default media upload directory
public/media/

public/robots.txt
public/sitemap*.xml
*.tsbuildinfo

# context for local agent development
llm_context/

# Storybook
debug-storybook.log
storybook-static/
