@import 'tailwindcss';

@config '../../../tailwind.config.mjs';

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: auto;
    font-weight: auto;
  }

  :root {
    --background: 149 29% 95%;
    --foreground: 149 5% 10%;
    --card: 149 29% 90%;
    --card-foreground: 149 5% 15%;
    --popover: 149 29% 95%;
    --popover-foreground: 149 95% 10%;
    --primary: 149 81% 12%;
    --primary-foreground: 0 0% 100%;
    --secondary: 149 29% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 111 29% 85%;
    --muted-foreground: 149 5% 40%;
    --accent: 111 29% 80%;
    --accent-foreground: 149 5% 15%;
    --destructive: 0 50% 46%;
    --destructive-foreground: 149 5% 90%;
    --border: 149 29% 50%;
    --input: 149 29% 46%;
    --ring: 149 81% 12%;
    --radius: 0.5rem;

    --success: 196 52% 74%;
    --warning: 34 89% 85%;
    --error: 10 100% 86%;
  }
  [data-theme='dark'] {
    --background: 149 29% 10%;
    --foreground: 149 5% 90%;
    --card: 149 29% 10%;
    --card-foreground: 149 5% 90%;
    --popover: 149 29% 5%;
    --popover-foreground: 149 5% 90%;
    --primary: 149 81% 12%;
    --primary-foreground: 0 0% 100%;
    --secondary: 149 29% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 111 29% 25%;
    --muted-foreground: 149 5% 60%;
    --accent: 111 29% 25%;
    --accent-foreground: 149 5% 90%;
    --destructive: 0 50% 46%;
    --destructive-foreground: 149 5% 90%;
    --border: 149 29% 46%;
    --input: 149 29% 46%;
    --ring: 149 81% 12%;
    --radius: 0.5rem;

    --success: 196 100% 14%;
    --warning: 34 51% 25%;
    --error: 10 39% 43%;
  }

}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground min-h-[100vh] flex flex-col;
  }
}

html {
  opacity: 0;
}

html[data-theme='dark'],
html[data-theme='light'] {
  opacity: initial;
}
